<div style='border: 3px dashed blue'>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% end %>
  <% if @name %>
    My name is <%= @name %> <!--erb tag-->
  <% end %>
    <img src='https://www.petfinder.com/wp-content/uploads/2012/11/dog-how-to-select-your-new-best-friend-thinkstock99062463.jpg' width = 800>
 </div>
