<div style='border: 3px dashed blue'>
  <% if @visitor %>
    Hello, <%= @visitor %>! <!--erb tag-->
  <% else %>
    <form action='/hello'>
      My name is <%= @name %>. <!--erb tag-->
      Whats yours?
      <input type='text' name='name'>
      <input type='submit' value='Submit'>
    </form>
  <% end %>
  <img src='/images/dog.jpg' width = 800>
 </div>
